* {
  margin: 0;
  padding: 0;
  font-family: "GothamPro";
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(51, 231, 15, 0.3);
  background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  outline: 1px solid rgb(133, 247, 26);
  border-radius: 20px;
}

#back {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(100deg, #7367f0 30%, #ce9ffc 100%);
  position: relative;
  top: 0;
}
#left,
#right,
#boi {
  position: absolute;
}
#boi {
  width: 43%;
  height: 95%;
  top: 5%;
  right: 0;
}
#right {
  right: 0;
  bottom: 0;
  width: 65%;
}
#left {
  top: 0;
  left: 0;
  width: 37%;
  height: 31%;
}
header {
  display: flex;
  background-color: rgb(100, 33, 163);
  height: 8vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
}
header h1 {
  position: absolute;
  left: 2%;
  text-transform: uppercase;
  font-size: 1.7vw;
  font-weight: bolder;
}
header h1 #home {
  text-decoration: none;
  color: white;
}
header h1 span {
  color: orange;
  font-weight: bolder;
}
nav {
  position: absolute;
  left: 60%;
  top: 30%;
  display: flex;
}
nav a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
nav a:nth-child(1) {
  position: relative;
  right: 5%;
  transition: 0.3s ease-in-out;
}
nav a:nth-child(1):hover {
  color: orange;
}

nav a:nth-child(2) {
  position: relative;
  transition: 0.3s ease-in-out;
}
nav a:nth-child(2):hover {
  color: orange;
}

nav a:nth-child(3) {
  position: relative;
  left: 5%;
  transition: 0.3s ease-in-out;
}
nav a:nth-child(3):hover {
  color: orange;
}
nav a:nth-child(4) {
  position: relative;
  left: 35%;
  transition: 0.3s ease-in-out;
}
nav a:nth-child(4):hover {
  color: orange;
}
.scr1 {
  height: 100vh;
}
.scr1 #moto {
  position: relative;
  top: 35%;
  left: 10%;
  color: white;
  font-size: 3vw;
  font-weight: 800;
  line-height: 60px;
  animation: left 2s;
}
.scr1 #btn {
  position: absolute;
  top: 64%;
  left: 11%;
  text-decoration: none;
  font-size: 1.3vw;
  text-transform: uppercase;
  padding: 13px 30px 13px;
  background-color: rgb(238, 172, 49);
  color: white;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.scr1 #btn:hover {
  transform: scale(1.1);
}
footer {
  width: 100vw;
  height: 20vh;
  margin-top: 120px;
  background-color: rgb(108, 34, 177);
}
footer h1 {
  position: absolute;
  left: 5%;
  text-transform: uppercase;
  font-size: 2.3vw;
  font-weight: bolder;
  margin-top: 35px;
}
footer h1 #footer_home {
  text-decoration: none;
  color: white;
}
footer h1 span {
  color: orange;
  font-weight: bolder;
}
#contacts {
  position: absolute;
  left: 40%;
  margin-top: 30px;
  color: orange;
  font-size: 0.9vw;
}
#contacts span {
  color: white;
  text-decoration: underline;
}
.logos {
  width: 3vw;
  position: absolute;
  margin-top: 30px;
}
#insta {
  position: absolute;
  right: 10%;
}
#fb {
  position: absolute;
  right: 15%;
}
#vk {
  position: absolute;
  right: 20%;
}
#last {
  position: absolute;
  margin-top: 120px;
  color: grey;
  left: 5%;
}

@keyframes left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media all and (max-width: 426px) {
  .scr1 #moto {
    position: relative;
    left: 2%;
    font-size: 2rem;
    line-height: 30px;
    text-align: center;
  }

  header h1 #home {
    font-size: 4.3vw;
  }
  nav {
    position: relative;
    width: 700px;
  }
  nav a:nth-child(1) {
    display: none;
  }

  nav a:nth-child(2) {
    display: none;
  }

  nav a:nth-child(3) {
    display: none;
  }
  nav a:nth-child(4) {
    font-size: 3.5vw;
  }
  #boi {
    display: none;
  }
  .scr1 #btn {
    left: 32%;
  }
  #left {
    width: 75%;
    height: 24%;
  }
}

@media all and (max-width: 1400px) {
  .div_h1 {
    left: 25%;
  }
}

@media all and (max-width: 769px) {
  header h1 {
    font-size: 2.4vw;
  }
  nav a {
    font-size: 1.7vw;
  }
  nav {
    left: 50%;
  }
  nav a:nth-child(4) {
    left: 20%;
  }

  footer {
    height: 22vh;
  }
  footer h1 {
    font-size: 2.6vw;
  }
  #contacts {
    font-size: 1.6vw;
  }
  .logos {
    width: 4vw;
  }
  #boi {
    width: 60%;
    left: 52%;
  }
}
