* {
  margin: 0;
  padding: 0;
  font-family: "GothamPro";
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#back {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(100deg, #7367f0 30%, #ce9ffc 100%);
}
#left,
#right,
#boi {
  position: absolute;
}
#boi {
  width: 43%;
  height: 95%;
  top: 5%;
  right: 0;
}
#right {
  right: 0;
  bottom: 0;
  width: 65%;
}
#left {
  top: 0;
  left: 0;
  width: 37%;
  height: 31%;
}
header {
  display: flex;
  background-color: rgb(100, 33, 163);
  height: 8vh;
  width: 100%;
  position: fixed;
  z-index: 10;
}
header h1 {
  position: relative;
  left: 2%;
  top: 15px;
  text-transform: uppercase;
  font-size: 1.9vw;
  font-weight: bolder;
}
header h1 #home {
  text-decoration: none;
  color: white;
}
header h1 span {
  color: orange;
  font-weight: bolder;
}
nav {
  position: relative;
  left: 50%;
  top: 30%;
  display: flex;
}
nav a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
nav a:nth-child(1) {
  position: relative;
  right: 5%;
  transition: 0.3s ease-in-out;
  /* color: orange; */
}
nav a:nth-child(1):hover {
  color: orange;
}
/* nav a:nth-child(1)::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  line-height: 2rem;
  background: orange;
  margin-top: 10%;
} */
nav a:nth-child(2) {
  position: relative;
  transition: 0.3s ease-in-out;
}
nav a:nth-child(2):hover {
  color: orange;
}
/* nav a:nth-child(2):hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  line-height: 2rem;
  background: orange;
} */
nav a:nth-child(3) {
  position: relative;
  left: 5%;
  transition: 0.3s ease-in-out;
}
nav a:nth-child(3):hover {
  color: orange;
}
nav a:nth-child(4) {
  position: relative;
  left: 35%;
  transition: 0.3s ease-in-out;
}
nav a:nth-child(4):hover {
  color: orange;
}
.scr1 {
  height: 100vh;
}
.scr1 #moto {
  position: relative;
  top: 35%;
  left: 10%;
  color: white;
  font-size: 3vw;
  font-weight: 800;
  line-height: 60px;
  animation: left 2s;
}
.scr1 #btn {
  position: absolute;
  top: 64%;
  left: 11%;
  text-decoration: none;
  font-size: 1.3vw;
  text-transform: uppercase;
  padding: 13px 30px 13px;
  background-color: rgb(238, 172, 49);
  color: white;
  border-radius: 5px;
}

@keyframes left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media all and (max-width: 480px) {
  .scr1 #moto {
    position: relative;
    left: 2%;
    font-size: 2rem;
    line-height: 30px;
    text-align: center;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    text-align: center;
  }
  nav {
    display: none;
  }
  #boi {
    display: none;
  }
  .scr1 #btn {
    left: 32%;
  }
  #left {
    width: 75%;
    height: 24%;
  }
}

@media all and (max-width: 1400px) {
  .div_h1 {
    left: 25%;
  }
}
