* {
  margin: 0;
  padding: 0;
  font-family: "GothamPro";
}
#scr3 {
  width: 100vw;
  height: 100vh;
  margin-top: 0;
}
#scr3_back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#scr3 #scr3_left {
  position: absolute;
  margin-top: 0;
  width: 15vw;
  height: 35vh;
}
#scr3 #scr3_right {
  position: absolute;
  margin-top: 100px;
  right: 0;
  width: 20%;
  height: 47%;
}
#courses_h1 {
  position: relative;
  text-align: center;
  font-size: 2.4vw;
  text-transform: uppercase;
  color: orange;
  letter-spacing: 2px;
}
.scr3_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  max-width: 90vw;
  margin: auto;
  margin-top: 80px;
  position: relative;
  left: 6%;
}
#container1 {
  width: 30vw;
  height: 30vh;
  position: relative;
  left: 5%;
  overflow: hidden;
  border-radius: 10px;
}

#contimage {
  position: absolute;
  width: 30vw;
  height: 30vh;
  border-radius: 10px;
  display: block;
  transition: 0.3s ease-in-out;
}
#contimage:hover {
  transform: scale(1.1);
}

.age {
  position: absolute;
  border: 1.8px solid white;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  width: 18%;
  padding: 5px 10px 5px;
  margin: 20px;
  font-size: 1vw;
  font-weight: 500;
}
#under_age {
  position: absolute;
  bottom: 6vh;
  left: 1vw;
  color: white;
  font-size: 0.9vw;
}
#python {
  position: absolute;
  font-size: 1.1vw;
  bottom: 3vh;
  left: 1vw;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
}

#minecraft {
  width: 100%;
  background-color: rgb(5, 177, 5);
  height: 20%;
  text-align: center;
  font-size: 2.1vw;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 7px;
}
#web {
  width: 100%;
  background-color: rgb(55, 105, 241);
  height: 20%;
  text-align: center;
  font-size: 2.1vw;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  font-weight: 600;
  border-radius: 7px;
}
.under_course {
  text-align: center;
  font-size: 1.2vw;
  margin-top: 30px;
  text-transform: uppercase;
}
#under_course1 {
  text-align: center;
  font-size: 1.4vw;
  margin-top: 40px;
  text-transform: uppercase;
}
#course_btn1 {
  position: relative;
  left: 33%;
  top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px 5px;
  font-size: 1vw;
  transition: 0.3s ease-in-out;
}
#course_btn1:hover {
  background-color: orange;
  border: 1px solid orange;
  color: white;
}
#course_btn2 {
  position: relative;
  left: 33%;
  top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px 5px;
  font-size: 1vw;
  transition: 0.3s ease-in-out;
}
#course_btn2:hover {
  background-color: rgb(102, 2, 102);
  border: 1px solid rgb(102, 2, 102);
  color: white;
}
#course_btn3 {
  position: relative;
  left: 33%;
  top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px 5px;
  font-size: 1vw;
  transition: 0.3s ease-in-out;
}
#course_btn3:hover {
  background-color: rgb(5, 177, 5);
  border: 1px solid rgb(5, 177, 5);
  color: white;
}
#course_btn4 {
  position: relative;
  left: 33%;
  top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px 5px;
  font-size: 1vw;
  transition: 0.3s ease-in-out;
}
#course_btn4:hover {
  background-color: rgb(55, 105, 241);
  border: 1px solid rgb(55, 105, 241);
  color: white;
}

/* @media all and (max-width: 600px) {
  .scr3_grid {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
/* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
/* } */
/* .containers {
    margin-bottom: 20px;
  } */
/* } */
