* {
  margin: 0;
  padding: 0;
  font-family: "GothamPro";
}
#scr4 {
  height: 900px;
}
#inline {
  position: absolute;
  left: 0;
  width: 40%;
  top: 2840px;
}
#inline2 {
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  width: 40%;
  top: 2840px;
}
#scr4_header {
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: blueviolet;
  top: 230px;
}
#scr4_header span {
  color: orange;
}
.scr4_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: auto;
  margin-top: 350px;
  position: relative;
  left: 2%;
}
.video {
  width: 90%;
  height: 250px;
  border-radius: 10px;
}
.vide_name {
  position: relative;
  left: 7%;
  text-transform: uppercase;
  top: 30px;
}
#inline3 {
  position: absolute;
  left: 0;
  width: 40%;
  top: 3370px;
  transform: scaleX(-1) rotate(180deg);
}
#inline4 {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
  width: 40%;
  top: 3370px;
}
