* {
  margin: 0;
  padding: 0;
  font-family: "GothamPro";
}
#scr6 {
  width: 100vw;
  height: 100vh;
  margin-top: 60px;
}
#inline_scr6_1 {
  position: absolute;
  left: 0;
  width: 40vw;
  margin-top: 40px;
  transform: scaleX(-1) rotate(180deg);
}
#inline_scr6_2 {
  position: absolute;
  right: 0;
  width: 40vw;
  margin-top: 40px;
  transform: rotate(180deg);
}
#inline_scr6_3 {
  position: absolute;
  left: 0;
  width: 40vw;
  margin-top: 80px;
}
#inline_scr6_4 {
  position: absolute;
  right: 0;
  width: 40vw;
  margin-top: 80px;
  transform: scaleX(-1) rotate(180deg);
}
#calendar {
  position: absolute;
  left: 47%;
  width: 7vw;
}
.scr6_cont {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  top: 40px;
}
#scr6_cont_h1 {
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8vw;
  text-transform: uppercase;
  color: blueviolet;
  letter-spacing: 2px;
}
#scr6_cont_h1 span {
  color: orange;
}
#scr6_cont_p {
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 40px;
}
form {
  position: relative;
  left: 32%;
}
form label {
  color: rgb(78, 23, 230);
  font-size: 1vw;
  font-weight: 700;
}
form input {
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
  border: none;
  width: 18vw;
  margin: 10px 0 25px;
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
}
input:focus {
  outline: none;
}
#submit {
  width: 10vw;
  position: relative;
  left: 8%;
  height: 40px;
  color: white;
  background-color: orange;
  font-size: 1.1vw;
  transition: 0.3s ease-in-out;
}
#submit:hover {
  cursor: pointer;
  transform: scale(1.05);
}
