* {
  margin: 0;
  padding: 0;
  font-family: "GothamPro";
}
#scr7 {
  margin-top: 70px;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/BG\ for\ screen\ -\ Отзывы.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#scr7_h1 {
  position: relative;
  text-align: center;
  font-size: 2vw;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 20px;
}

@media all and (max-width: 769px) {
  #scr7 {
    margin-top: 120px;
  }
}
