* {
  margin: 0;
  padding: 0;
  font-family: "GothamPro";
}
#scr5 {
  width: 100vw;
  height: 100vh;
}
#scr5_back {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
#scr5_header {
  text-align: center;
  color: blueviolet;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: 650;
}
#scr5_header span {
  color: orange;
}
.carousel-inner > .item > .test > .test_cont > .scr5_img,
.carousel-inner > .item > a > img {
  margin-top: 150px;
  position: relative;
  border-radius: 50%;
}
.carousel-inner {
  height: 100vh;
  margin-top: -52px;
}
.scr5_img {
  margin-top: 100px;
  height: 250px;
}
#myCarousel {
  width: 100vw;
  position: absolute;
  left: 0;
}
.test {
  display: flex;
  justify-content: space-evenly;
}
.teach_info {
  text-align: center;
  margin-top: 100px;
  font-size: 2vw;
  color: white;
  letter-spacing: 2px;
}

@media all and (max-width: 769px) {
  #scr5 {
    margin-top: 680px;
  }
  .carousel-inner {
    margin-top: -32px;
  }
  .scr5_img {
    width: 20vw;
    height: 200px;
  }
}
